extends temp
block variables
    - var title = 'Блоки'
block content
    .pic3-1
        img(src="img/Paramount_Pictures.jpg")
    .pic3-2
        img(src="img/Paramount_Pictures.jpg")
    .pic3-3
        img(src="img/Paramount_Pictures.jpg")
    .t3-1
        p Блочный элемент по умолчанию занимает всю доступную ему ширину. Для изменения ширины блока используется свойство width, которое устанавливает ширину содержимого элемента.
    .t3-2
        p Высота блочного элемента вычисляется браузером автоматически, исходя из его содержимого. Для изменения высоты блока используется свойство height, которое устанавливает высоту содержимого элемента.
    .t3-3
        p По умолчанию блочный элемент прижаты к левой границе окна браузера или охватывающего элемента. Для того, чтобы его "выровнять" по центру, необходимо в качестве значения правого и левого отступа внешней границы (свойство margin) указать значение auto.  При этом у элемента должна быть обязательно задана ширина (свойство width).