extends temp
block variables
    - var title = 'Шрифт'
block content
    .pic2-1
        img(src="img/css-probely.png")
    .pic2-2
        img(src="img/css-text.png")
    .pic2-3
        img(src="img/css-text-decoration.png")
    .t2-1
        p font - универсальное свойство, которое позволяет одновременно задать несколько характеристик шрифта и текста. <br/> Его синтаксис font: [font-style||font-variant||font-weight] font-size [line-height] font-family | inherit
    .t2-2
        p font-style - определяет начертание шрифта: обычное, курсивное или наклонное. Когда для текста установлено курсивное или наклонное начертание, браузер обращается к системе для поиска подходящего шрифта. Если заданный шрифт не найден, браузер использует специальный алгоритм для имитации нужного вида текста. Результат и качество при этом могут получиться неудовлетворительными, особенно при печати документа. <br/>Его синтаксис font-style: normal | italic | oblique | inherit